.top-container {
  background-color: #EAF6F6;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-style: 'Montserrat', sanserif;
}

p {
  line-height: 2;
}

.intro {
  font-size: 20px;
  width: 30%;
  margin: 0 auto 0 auto;
}

.paragragh {
  font-size: 20px;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: Sacramento, cursive;
  font-size: 90px;
  color: #66BFBF;
}

h2 {
  font-family: Merriweather, serif;
  font-size: 50px;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: Merriweather, serif;
  color: #11999E;
  margin-top: 10px;
}

.profile-img {
  margin-top: 60px;
  width: 15%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.Paino-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.code-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-container {
  position: relative;
  padding-top: 100px;
}

.middle-Container {}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
  width: 120px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  top: 300px;
  width: 120px;
}

.footer-link {
  color: #11999E
}

hr {
  color: #EAF6F6;
  height: 2px;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 10%;
  margin-top: 80px;
  margin-bottom: 80px;
}

.outro {
  width: 30%;
  margin: 40px auto 40px;
  color: #40514E;
  font-size: 20px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #1199e);
  background-image: -moz-linear-gradient(top, #11cdd4, #1199e);
  background-image: -ms-linear-gradient(top, #11cdd4, #1199e);
  background-image: -o-linear-gradient(top, #11cdd4, #1199e);
  background-image: linear-gradient(to bottom, #11cdd4, #1199e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Merriweather, serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 60px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.button {
  margin-bottom: 100px;
  margin-top: 60px;
}

a {
  color: #11999E;
  font-style: 'Montserrat', sanserif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
